/* Tag selector to select the 'body' element */
body {
  background: #00b3e6; /* light blue */
}


/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  /* Your code here! */

  width: 700px;             /* set width */
  margin: auto;             /* center horizontally */
  font-family: "Helvetica Neue", sans-serif; 
  background: white;        /* white background */
  padding: 30px;            /* space inside */
}




/* ID selector to select the element with id 'main-header' */
#main-header {
  /* Your code here! */
  color: red;
  font-size: 22px;

}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  /* Your code here! */
font-style: italic;
}
